<div class="row">

<div class="col-auto">
    <div class="row">
      <h5>Places to buy organic fruits and vegetables</h5>
    </div>
    <div class="row">
      <div class="col-auto">
        <p class="coltxt">Select district</p>
      </div>
      <div class="col-auto">
        <select class="dropdown coltxt" (change)="getSelectedLabelDistrict($event.target.value)">
          <option value="0">All</option>
          <option *ngFor="let d of districts" value={{d.districtName}}>
            {{d.districtName}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
        <div class="col-auto">
          <div class="card mb-1" style="width: 100%">
            <div class="card-header bg-transparent">
              <div class="table">
                <div class="row">
                  <div class="subheading" style="width: 8rem; margin-left:15px; text-align:left;">District</div>
                  <div class="subheading" style="width: 21rem; text-align:left;">Address</div>
                  <div class="subheading" style="width: 6rem; text-align:right; padding-right:10px;">More details</div>
                </div>
              </div>
            </div>
            <div *ngFor="let seller of sellers; let i = index;">
              <div style="width: 100%; margin: 0px; padding-left:0px;">
                <div class="bg-transparent">
                  <label class="coltxt" style="width: 8rem; text-align:left; padding-left:10px;">{{seller.districtName}}</label>
                  <label class="coltxt" style="width: auto; text-align:left; padding-left:10px;">{{seller.AddressLine1}}</label>
                  <label class="coltxt" style="width: auto; text-align:left; padding-left:10px;">{{seller.AddressLine2}}</label>
                  <label class="coltxt" style="width: 6rem; text-align:left; padding-left:10px;">{{seller.AddressLine3}}</label>
                  <button onclick="document.getElementById('id02').style.display='block'" style="width:100px; float: right;" (click)="getVegetables(seller.sellerID)">More...</button>
                  
                  <div id="id02" class="modal coltxt">
  
                    <form #form="ngForm" class="modal-content animate">
                      <div class="imgcontainer">
                        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <h4>More details about seeds and plant sellers</h4>
                      </div>
  
                      <div class="container">
                        <label for="details">
                          <b>Contact details</b>
                        </label>
                        <p>{{seller.userName}},
                        {{seller.AddressLine1}},
                        {{seller.AddressLine2}},
                        {{seller.AddressLine3}}</p>
                        <p>Tel: {{seller.contact}}</p>
                        <br>

                            <div class="table">
                              <div class="row">
                                <div class="subheading" style="width: 5rem; margin-left:15px; text-align:left;">Vegetables</div>
                                <div class="subheading" style="width: 8rem; text-align:left;">Available Quantity (kg)</div>
                                <div class="subheading" style="width: 6rem; text-align:right; padding-right:10px;">Price <br>(1kg)</div>
                              </div>
                            </div>
                          <div *ngFor="let foodItem of foodItems; let i = index;">
                              <div style="width: 100%; margin: 0px; padding-left:0px;">
                                <div class="bg-transparent">
                                  <label class="coltxt" style="width: 5rem; text-align:left; padding-left:10px;">{{foodItem.itemName}}</label>
                                  <label class="coltxt" style="width: 8rem; text-align:left; padding-left:10px;">{{foodItem.Quantity}}</label>
                                  <label class="coltxt" style="width: 6rem; text-align:left; padding-left:10px;">{{foodItem.price}}</label>
                                </div>
                              </div>
                          </div>      
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>

</div>