@import url('https://fonts.googleapis.com/css?family=Roboto');

.subheading{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.coltxt{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
body {font-family: Arial, Helvetica, sans-serif;}

.change{
    margin: 0px;
    padding: 0px;
    position: relative;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 2px 3px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .container {
    padding: 16px;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 40px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    padding: 30px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover {
    color: red;
    cursor: context-menu;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  .cancelbtn {
    background-color: red;
    width: 70px;
    border-radius: 5px;
    padding: 8px;
 }
  
 .background{
  background-color: rgb(238, 145, 145);
  margin-top: 5px; 
  margin-left: 50px;
}
.container-large {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
}

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  
  }