<div class="container-large">

</div>
<div class="row">
  <div class="col-auto">
    <div class="heading">Manage Crops</div>
  </div>

</div>

<div class="container">
  <!-- Row of Cards-->
  <div class="row">
    <div class="col-auto">
      <div class="card mb-5" style="width: 100%;">
        <div class="card-header bg-transparent">
          <div class="table">
            <div class="row">
              <div class="subheading" style="width: 4rem; margin-left:25px; text-align:center;">Crop</div>
              <!-- <div class="subheading" style="width: 8rem; text-align:center;">Image</div> -->
              <div class="subheading" style="width: 12rem; text-align:center;">Climate zone</div>
            </div>
          </div>
        </div>
        <div *ngFor="let c of crops; let i = index;">
          <div class="card mb-1" style="width: 100%; margin: 0px; padding-left:0px;">
            <div class="card-header bg-transparent">
              <label class="coltxt" style="width: 6rem; text-align:left;">{{c.cropName}}</label>
              <!-- <label class="coltxt" style="width: 8rem; text-align:center;">
                <img src="../../../assets/images/crops/{{c.image}}" style="height:60px;">
              </label> -->
              <label class="coltxt" style="width: 20rem; text-align:left;">{{this.mapZone.get(c.cropID)}}</label>

              <button style="float:right; width:100px; background-color:red;" (click)="deleteCrop(c.cropName)">Delete</button>
              <button style="float:right; width:100px;" (click)="moreDetails(c.cropID)">More Details</button>

            </div>
          </div>

        </div>
        <div class="col-auto">
          <ngb-alert style="margin-top: 5px; margin-left: 50px;" class="coltxt" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
          <ngb-alert class="background coltxt" *ngIf="deleteMessage" type="delete" (close)="deleteMessage = null">{{ deleteMessage }}</ngb-alert>
        </div>
        <!-- First card in here-->

        <button onclick="document.getElementById('id01').style.display='block'" style="width:200px;">Add a new crop</button>

        <div id="id01" class="modal coltxt">

          <form #form="ngForm" (ngSubmit)="addCrops(form.value);" class="modal-content animate" enctype="multipart/form-data">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
              <h4>Add a new crop</h4>
            </div> 

            <div class="container1">
              <label for="crop">
                <b>Crop</b>
              </label>
              <input type="text" placeholder="Enter Crop name" name="crop" ngModel required>
              <br>
              <div class="col-sm-5">
                <div class="form-check" *ngFor="let zone of zones">
                  <p style="display: none;">{{checkZone(crop, zone.name)}}</p>
                  <input [checked]="zoneSelect" (change)="onZoneChange(zone.name, $event.target.checked)" name="{{ zone.name }}" type="checkbox"
                    id="{{zone.name}}">
                  <label class="form-check-label coltxt" for="{{zone.name}}">{{zone.name}}</label>
                </div>
              </div>

              <label for="des">
                <b>Description</b>
              </label>
              <br>
              <b>step1:</b><br>
              <textarea placeholder="Enter description" name="step1" ngModel rows="3" cols="100"></textarea>
              <br>
              <b>step2:</b><br>
              <textarea placeholder="Enter description" name="step2" ngModel rows="3" cols="100"></textarea>
              <br>
              <b>step3:</b><br>
              <textarea placeholder="Enter description" name="step3" ngModel rows="3" cols="100"></textarea>
              <br>
              <b>step4:</b><br>
              <textarea placeholder="Enter description" name="step4" ngModel rows="3" cols="100"></textarea>
              <br>
              <label for="diseases">
                <b>Diseases and insect Pests</b>
              </label>
              <input type="text" placeholder="Enter diseases" name="disease" ngModel required>
              <br>
              <label for="diseases">
                <b>Diseases description</b>
              </label>
              <br>
              <textarea placeholder="Enter description" name="diseaseDes" ngModel rows="8" cols="100"></textarea>
              <br>
            </div>

            <div class="container" style="background-color:#f1f1f1">
              <button type="button" (click)="cancel()" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <input onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary coltxt" type="submit">
            </div>
          </form>
        </div>


      </div>

    </div>

  </div>

</div>