@import url('https://fonts.googleapis.com/css?family=Roboto');

/* .commonbuttons{
    background-color: #363C43;
    color: #FFFFFF;
}
.commonmenu{
    background: #363C43;
    color: #FFFFFF !important;
} */

/* .navbar {
    z-index: 1;
} */
.head{
    border: solid 1px  rgb(71, 141, 69);
    /* border-radius: 5px; */
    background-image: url("../../../assets/images/bg.jpg");
}
.container-large {
    width: 100%;
    background-color: #F6F8FA;
}
.logout {
    cursor: pointer;
}
a:hover {
    background-color: rgb(103, 107, 107);
    padding-left: 5px;
    padding-right: 5px;
}
