@import url('https://fonts.googleapis.com/css?family=Roboto');

.head{
    border: solid 1px  rgb(71, 141, 69);
    background-image: url("../../../assets/images/bg.jpg");
}
.container-large {
    width: 100%;
    background-color: #F6F8FA;
}
.logout {
    cursor: pointer;
    text-align: right; 
    display:block;
    width: 30%;
    margin-top: 10px;
}
a:hover {
    background-color: rgb(103, 107, 107);
    text-decoration: none;
}
