<div class="container-large">
  <div class="row head">
    <h1 style="margin:auto auto;">Agro Guide</h1>
  </div>
  <div class="row" style="background-color:rgb(51, 49, 49); padding-right: 10px;">
    <div class="col-auto" style="width: 70%;">
      <nav class="navbar navbar-light" style="padding:0px 5px; float: left;">
        <a class="navbar" style="color:aliceblue;" [routerLink]="['/home']">Home</a>
        <a class="navbar" style="color:aliceblue;" [routerLink]="['/aboutus']">About Us</a>
        <a class="navbar" style="color:aliceblue;" [routerLink]="['/admindashboard']">Admindashboard</a>
      </nav>
    </div>
    <div class="col-auto logout">
      <a style="color:aliceblue; float: right;" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
