<!-- <ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
<div class="container container-large">
    <div class="row head">
      <h1 style="margin:auto auto;">Agro Guide</h1>
    </div>
    <div class="row" style="background-color:rgb(51, 49, 49);">
      <nav class="navbar navbar-light" style="padding:0px 20px;">
        <a class="navbar-brand" style="color:aliceblue;" routerLink="/home">Home</a>
        <a class="navbar-brand" style="color:aliceblue;" routerLink="/aboutus">About Us</a>
        <a class="navbar-brand" style="color:aliceblue;" (click)="logout()">Logout</a>
        
      </nav>
    </div> -->
    <app-header></app-header>
    <app-farmer-ui-home></app-farmer-ui-home>
    <app-footer></app-footer>   
<!-- </div> -->