<div class="container-large">

<div class="heading">
  Let's make organic fertilizer at home
</div>
<div class="coltxt" style="text-align: justify; margin-top: 10px;">
  <p>Using natural organic fertilizer is nothing new. Years ago, people gardened because their backyard produce was better,
    cheaper and healthy than store bought. This is a universal truth and the trick behind this is the enrichment of the garden
    soil with organic matter, compost, and homemade plant food natural fertilizers.</p>
  <p>You can use organic material from leftover food and grass clippings to organic fertilizers made from plant or animal remains.
  </p>
  <img src="../../../assets/images/f2.jpg" style="margin-right: 5px;">
  <img src="../../../assets/images/f1.jpg" style="margin-right: 5px;">
  <img src="../../../assets/images/f4.jpg" style="margin-right: 5px;">
  <img src="../../../assets/images/f3.jpg" style="width: 269px;">
<h5 style="margin: 10px;">Make organic fertilizer from your kitchen waste</h5>
<p>This is an effective and eco-friendly way of disposing food waste in your kitchen. Follow the below steps to make your own organic fertilizer from your kitchen waste</p>
<dl>
    <dt>1. Collect your kitchen waste.</dt>
    <dd>Collect fruits and vegetables, egg shells nuts and easily decaying things. Do not mix oils, fatty meats and milk products into that collection. Keep these things on a well-drained and open area and sprinkle some wood ash to boost the composting process.</dd>
    <dt>2. Speedup the composting process</dt>
    <dd>Add other oranic materials like wood ash, sawdust or manure.</dd>
    <dt>3. Collect garden waste</dt>
    <dd>You can produce nutrient-rich fertilizer by adding some natural waste like grass clipping and leaves.</dd>
    <dt>4. Create the compost</dt>
    <dd>Compost bin should have a handle and some holes which you can easily turn as rotate and mix to incorporate oxygen into the mixture. Recomment spinning the compost bin 2 o 3 times a day for best results. On average it takes about three months for a full decomposition, as long as the temperatures are hot and the compost pile stays moist. </dd>
    <dt>5. Apply the fertilizer</dt>
    <dd>I you are not in the above conditions, it may takes about 6 months or a year. Wait for it to reach a soil like mixture that is dark in color. Then use a garden fork to spread the compost on the garden. Apply the right ammount of compost and wait before add more.</dd>
</dl>

</div>
</div>